<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Order Confirmation</h2>
    <p>Hello {{ user.first_name }} {{ user.last_name }},</p>
    <p>Your order has been placed successfully!</p>
    <p>Order Details:</p>
    <ul>
        {% for item in order_items %}
            <li>{{ item.product.name }} x {{ item.quantity }} - Price: ${{ item.product.price }} </li>
        {% endfor %}
    </ul>
    <p>Total Amount (Without Discount): ${{ order.total_amount_without_coupon }}</p>
    <p>Total Amount (With Discount): ${{ order.total_amount }}</p>
    <p>Shipping Address: {{ order.shipping_address }}</p>
    <p>Payment Method: {{ order.payment_method }}</p>
    <p>Coupon Code: {{ order.coupon_code }}</p>
    <p>Discount Amount: ${{ order.discounted_amount }}</p>
    <p>Thank you for shopping with us!</p>
</body>
</html>
